/* MODAL */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms var(--cubic-main);

    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(1.1);
}

/*  */
.form-title {
    padding-top: 40px;
    text-align: center;
}

.form-mailing {
    padding-left: 40px;
    padding-right: 40px;
}

.textarea-form textarea {
    width: 448px;
    height: 120px;
    resize: none;
}

.textarea-backdrop {
    padding: 12px 16px;
}

.textarea-backdrop::-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5)
}

.backdrop-button {
    width: 200px;
    height: 50px;
    background-color: var(--secondary-color);
    transform: background-color 250ms var(--cubic-main);

    border: 0;


    margin: 0 auto;
    margin-top: 30px;

    display: block;


    color: #FFFFFF;
}

.backdrop-checkbox {
    padding-top: 20px;
}

.about-me-back {
    position: relative;
    padding: 11px 42px;
    width: 100%;
}

.checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
padding-left: 30px;
}

.checkbox-text {
    margin-left: 7px;

    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.71;
}

.checkbox-link {
    color: var(--secondary-color);
    text-decoration: underline;
}

.chekbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.check-icon,
.uncheck-icon {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    transition: opacity 250ms var(--cubic-main);
    margin-left: 9px;
}

.check-icon {
    opacity: 0;
}

.chekbox-input:checked~.check-icon {
    opacity: 1;
    cursor: pointer;
}

.chekbox-input:checked~.uncheck-icon {
    opacity: 0;
    cursor: pointer;
}


.contact-icon {
    left: 0;
    margin-left: 52px;
    margin-top: 15px;
    /* border: 1px solid black; */
    position: absolute;
}

.backdrop-button:hover,
.backdrop-button:focus {

    cursor: pointer;
}

.form-input input,
textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
}

.form-input input:focus,
textarea:focus {
    border-color: #2196f3;
    outline: none;
}

.backdrop-label:focus+.contact-icon {
    fill: #188CE8;
}

.backdrop-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    line-height: 14px;
    letter-spacing: 0.01em;

    color: #757575;

    display: inline-block;
    padding-bottom: 4px;
    padding-top: 10px;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    overflow: auto;
    display: block;

    width: 528px;

    height: 581px;

    background-color: var(--whitey-color);
    transition: transform 250ms var(--cubic-main);

}

.button-modal:hover,
.button-modal:focus {
    background-color: var(--secondary-color);

    cursor: pointer;

}

.button-modal {
    position: absolute;

    right: 8px;
    top: 8px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--whitey-color);

    border-radius: 50%;

    width: 30px;
    height: 30px;

    align-items: center;
    justify-content: center;
    text-align: center;

    transition: background-color 250ms var(--cubic-main);
}



/* Contacts about */
.contacts-links {
    /* margin-left: 331px;
    margin-top: 34px;
    white-space: nowrap; */
    margin-left: auto;
}

.contacts-header {
    padding-top: 7px;
    padding-bottom: 7px;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.links-ico {
    display: inline-block;
    fill: currentColor;
    margin-right: 10px;
    background-size: contain;
}

.under-links-ico {
    padding: 25px 100px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
}


.contacts,
.contacts-header {
    color: var(--rare-color);

    text-decoration: none;

    font-weight: 500;
    font-size: 14px;

    letter-spacing: 0.02em;
    line-height: 1.1;

    transition: color 250ms var(--cubic-main);
}

.contacts,
.contacts-header:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.contacts,
.contacts-header:focus,
.links-mail:hover {
    color: var(--secondary-color);
    text-decoration: none;

}

.hero-button {
    background-color: var(--secondary-color);
    color: var(--whitey-color);

    /* border-radius: 4px; */
    /* padding: 15px 37px; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

    font-size: 16px;
    width: 225px;
    height: 65px;

    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    
    margin-left: 131px;
    margin-top: 61px;
}
.button-cont{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
        color: var(--whitey-color);
}

.button-send{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
}

.buttons{
    display: flex;
}