:root{
    --bg-first-color: #EEEFF1;
    --above-color: #a499aa;
    --logo-color: #34547A;
    --text-lorem-color: #727272;

    --cubic-main:cubic-bezier(0.4, 0, 0.2, 1);
    --whitey-color: rgba(255, 255, 255, 1);
    --secondary-color: #34547A;
}

* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}



.section{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.top-block{
    background-color: var(--bg-first-color);
}

/* NAV */
.nav-header{
    display: flex;
    list-style: none;
    padding-top: 57px;
}
.logo{
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;

    padding-right: 340px ;
}
.wd-hover svg{
    fill:#718eaf;

    transition: 250ms;

    width: 85px;
    height: 38px;
}
.wd-hover svg:hover{
    fill: #34547A;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.logo a{
    color:var(--logo-color);

}
.nav-top{
    display: block;
    font-family: Roboto;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    line-height: 26px;
    letter-spacing: 0.1em;
    margin-top: 22px;
}

/* .nav-top:hover{

    color:var(--logo-color);
} */

.nav-top a{
    color:var(--text-main-color);
}
.nav-top:not(:last-child){
    padding-right: 42px;
}

/* VER */
.design-block{
    display: inline-flex;
    height: 580px;
}
.computer-img{
    display: inline-block;
    margin-top: 171px;
    margin-left: 70px;
}
.design-makeup{
    display: inline-block;
    margin-left: 131px;
    margin-top: 171px;
    width: 541px;
    height: 172px;
}
.design-makeup h1{
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
}
.design-makeup p{
    width: 540px;
    height: 67px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-lorem-color);
    padding-top: 60px;
}

/* ОБО МНЕ */

.about-me-block{
    width: 540px;
    height: 147px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 123px;
}
.about-me-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}
.about-me-block p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    padding-top: 50px;

    color: var(--text-lorem-color);
}


.under-about-block{
    height: 250px;
}

.tel-ico{
    display: inline-block;
    width: 50px;
    height: 50px;
}

.section-under-b{
    background-color: var(--secondary-color);
    display: block;
    height: 250px;
}

.under-about-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
        height: 150px;
}
/*  */
/*  */

.list-achiv{
    display: inline-block;
padding-top: 50px;
}
.achiv-info{
    display: inline-block;
    margin-left: 20px;
}
.list-achiv:not(:last-child){
    padding-right: 50px;

}
.achiv-num{
    display: inline-block;
    font-family: Roboto;
    color: var(--whitey-color);
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}
.list-achiv p{
    font-family: Roboto;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--whitey-color);
}
.skills-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    padding-bottom: 50px;
}
.list-skills{
    display: inline-block;
    margin-bottom: 122px ;
}
.list-skills li{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color:var(--text-lorem-color);
    border-bottom: 4px solid #34547A;
    width: 454px;
    padding-bottom: 20px;
    margin-bottom: 54px;
}
.list-skills li:nth-child(2){
        border-bottom: 4px solid #C4C4C4;
}

.skills-block{
display: inline-block;
}

.rect-img{
    margin-left: 150px;
    margin-top: 102px;
}

.section-working{
    background-color:var(--bg-first-color);
    padding-left: 15px;
    padding-right: 15px;
}

.how-i-work{
    padding-top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}
.work-block{
    width: 1200px;
    height: 1040px;
    margin-left: auto;
    margin-right: auto;
}
.work-paragraph{
    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    line-height: 26px;
    text-align: center;
    color: var(--text-lorem-color);

    width: 540px;
    height: 67px;
}

.video-work{
    padding-top: 57px;
display: block;
margin-left: auto;
margin-right: auto;
}
/*  */
/*  */
.microsoft-logo{
text-align: center;
}
.microsoft-logo li{
    display: inline-block;

}
.microsoft-logo li:not(:last-child){
    padding-right: 30px;
}
/* Footer */
.section-under-footer{
    background-color: var(--secondary-color);
    display: block;
    height: 150px;
}

.footer-social{
    display: inline-block;
}


.under-about-block li h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--whitey-color);
    padding-top: 53px;
}

.under-about-block li h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: var(--whitey-color);
    padding-top: 20px;
}

.ico-social{
    display: inline-flex;
    padding-left: 800px;
}
.ico-social li{
    display: inline-block;
}
.ico-social li svg{
    display: inline-block;
    margin-right: 20px;
}

.link-works{
    padding:10px 125px 10px 5px;
}
.my-work{
    background-color:rgb(95, 100, 161);
    transition: background-color 250ms;
    padding: 10px;

}
.my-work:not(:last-child){
    margin-bottom: 20px;
}
.my-work:hover{
        background-color:rgba(55, 58, 100, 0.774);
}
